<div class="page-header">
  <div data-partial="surveys/_navigation"></div>
  <h1>Results for <span data-bind="survey.name"></span></h1>
</div>

<div class="row">
  <div class="span16">
    <h3>30 day rating average across segments</h3>
    <div data-view="SegmentsRatingGraphView" data-survey="survey"></div>
  </div>
</div>
<div class="row">
  <div class="span4">
    <h3>Rating This Week</h3>
    <h1 data-bind="survey.stats.current_week_average_rating | round 2"></h1>
    <h6 data-bind="survey.stats.previous_week_average_rating | round 2"></h6>
  </div>
  <div class="span4">
    <h3>Responses This Week</h3>
    <h1 data-bind="survey.stats.current_week_response_count | round 2"></h1>
    <h6 data-bind="survey.stats.previous_week_response_count | round 2"></h6>
  </div>
</div>
