<h1>Surveys</h1>
<div data-foreach-survey="surveys">
  <div class="page-header">
    <h2 data-bind="survey.name"></h2>
  </div>
  <div class="row survey_slug">
    <div class="span4">
      <h3 data-bind="survey.stats.total_responses"></h3>
      <h4>total responses</h4>
      <a data-route="survey">see all</a>
    </div>
    <div class="span4">
      <h3 data-bind="survey.stats.current_week_responses_count"></h3>
      <h4>responses this week</h4>
      <p><span data-bind="survey.stats.previous_week_responses_count"></span> responses last week</p>
    </div>
    <div class="span4">
      <h3 data-bind="survey.stats.current_week_average_rating | round 2 | default 0 | append ' / 5'"></h3>
      <h4>average rating this week</h4>
      <p><span data-bind="survey.stats.previous_week_average_rating | round 2"></span> average last week</p>
    </div>
    <div class="span4">
    </div>
    <div class="span4">
        <a class="btn" data-route="survey">Show</a>
        <a class="btn disabled danger" data-route="survey | routeToAction 'edit'">Edit</a>
        <a class="btn info" data-route="survey | routeToAction 'analyze'">Analyze</a>
    </div>
  </div>
</div>
