<div class="page-header">
<div data-partial="surveys/_navigation"></div>
<h1>Survey: <span data-bind="survey.name"></span></h1>
</div>
<div class="row">
  <div class="span-one-third">
    <h3>Active Phone Numbers</h3>
    <div data-foreach-segment="survey.segments">
      <a data-route="routes.surveys[survey].surveySegments[segment]" data-bind="segment.phone_number"></a>
      -
      <span data-bind="segment.name"></span>
    </div>
  </div>
  <div class="span-one-third">
    <h3>Total respones received</h3>
    <h1 data-bind="survey.totalResponses"></h1>
  </div>
  <div class="span-one-third">
  </div>
</div>
