<div data-partial="surveys/_navigation"></div>
<h1>Questions for <span data-bind="survey.name"></span></h1>

<table>
  <tr>
    <th>Question</th>
    <th>Answer Rate</th>
  </tr>
  <tr data-foreach-question="survey.questions.sortedBy.order">
    <td data-bind="question.text"></td>
    <td data-bind="question.answerRateAsPercentage | append ' %'"></td>
  </tr>
</table>

<a class="btn" data-route="routes.surveys[survey]">Back to Survey</a>
<a class="btn danger disabled" data-routage="routes.surveys[survey].questions.new">New Question</a>
