<div class="page-header">
  <div data-partial="surveys/_navigation"></div>
  <h2>Alerts on <span data-bind="survey.name"></span></h2>
</div>

<h3>Keyword Alerts
<table>
  <tr>
    <th>Phrase</th>
    <th>Recipients</th>
    <th>Actions</th>
  </tr>
  <tr data-foreach-alert="alerts">
    <td data-bind="alert.options.keyword"></td>
    <td data-bind="alert.options.recipients | join ', '"></td>
    <td>
      <a class="btn info" data-route="alert | routeToAction 'edit'">Edit</a>
      <a class="btn danger" data-event-click="destroy | withArguments alert" data-confirm="Are you sure you want to destroy this alert? This can't be undone!">Destroy</a>
    </td>
  </tr>
</table>

<a class="btn" data-route="newAlertOptions">Add new Keyword Alert</a>
