// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.survey_slug {
  text-align: center;
}
table.responses {
  td.actions_column {
    width: 130px;
  }
}
.chart {
  &.daily {
    margin-right: 20px;
  }

  shape-rendering: crisp-edges;
  rect {
    stroke: white;
    fill: steelblue;
  }
  line {
    stroke-width: 1px;
    stroke: black;
  }
  path {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
  }
  text {
    font: 10px sans-serif;
    &.label {
      fill: black;
    }
  }
}
#survey_segments_legend {
  float:right;
  background: none;
  padding: 5px;
  width: 130px;
}
